@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

:root {
  font-size: 12px;
  --dark-grey: #a1a1a1;
  --black: #000000;
  --white: #ffffff;
  --very-dark-grey: #454545;
}

* {
  /* outline: solid 1px red; */
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "League Spartan", sans-serif;
  font-weight: 500;
}

h1 {
  font-size: 3.5rem;
  font-weight: 600;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

h3 {
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-weight: 600;
}

p {
  color: var(--dark-grey);
  margin-top: 1rem;
  font-size: 1.25rem;
  line-height: 2rem;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

li {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  padding: 6rem;
  position: absolute;
  display: grid;
  grid-template-columns: 2fr repeat(4, 1fr);
  gap: 2rem;
  color: var(--white);
  font-weight: 500;
  font-size: 1.25rem;
  li:hover {
    cursor: pointer;
  }
}

.bento {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1.3fr 0.4fr 1.3fr;
  grid-template-rows: 1.7fr 0.3fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "hero-image hero-image blurb blurb"
    "hero-image hero-image arrows empty"
    "dark-image about-us about-us light-image";
}
.arrows {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-area: arrows;
  background-color: var(--black);
  min-height: fit-content;
  button {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
    border: none;
  }
  button:hover {
    background-color: var(--very-dark-grey);
    cursor: pointer;
    transition: background-color 200ms;
  }
  button:not(:hover) {
    transition: background-color 200ms;
  }
}
.light-image {
  grid-area: light-image;
}
.dark-image {
  grid-area: dark-image;
}
.about-us {
  grid-area: about-us;
  padding: 6rem;
}
.blurb {
  grid-area: blurb;
  padding: 8rem;
  div {
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
    align-items: center;
  }
  div:hover {
    color: var(--dark-grey);
    stroke: var(--dark-grey);
    cursor: pointer;
    transition: color 200ms, stroke 200ms;
  }
  div:not(:hover) {
    transition: color 200ms, stroke 200ms;
  }
}
.empty {
  grid-area: empty;
}
.hero-image {
  grid-area: hero-image;
}
